$white-fontNormal: #ffffff;
$light: #e5e5e5;
$red: #e60c0d;
$dark-BG: #161616;
$black: #000000;
$grey: #5b5b5b;
$yellow-titulo: #ffe81f;
$darkTransparent: rgba(22, 22, 22, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-BG;
  color: $white-fontNormal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

  .logo {
    margin-right: 12px;
    width: 48px;
    height: 48px;
  }

  .titulo {
    font-family: Bakbak one;
    color: $yellow-titulo;
  }
}

.conteudoFilmes {
  display: flex;
  height: 90vh;
  padding: 10px 10px 0px 10px;

  .filmesLista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100vw;
    width: 100%;

    .cardFilme {
      text-align: center;
      font-family: Bakbak one;
      position: relative;
      margin: 8px;
      width: 220px;
      height: 320px;
      background: $red;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      border-radius: 15px;
      cursor: pointer;
    }

    .cardFilme::before,
    .cardFilme::after {
      position: absolute;
      content: '';
      width: 20%;
      height: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      background-color: #c6eeff;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    .cardFilme::before {
      top: 0;
      right: 0;
      border-radius: 0 15px 0 100%;
    }

    .cardFilme::after {
      bottom: 0;
      left: 0;
      border-radius: 0 100% 0 15px;
    }

    .cardFilme:hover::before,
    .cardFilme:hover:after {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    .cardFilme:hover:after {
      content: 'Deu certo';
      color: $dark-BG;
      background-image: url('https://media0.giphy.com/media/3ornjPteRwwUdSWifC/giphy.gif');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
    }
  }
}
